$primary_color: #eeac34;
$secondary_color: #383535;
$tertiary_color: white;
$font_primary_color: black;
$font_secondary_color: #232323;
$font_tertiary_color: #666666;
$labels_color: #d38713;
$icons_color: #456cd9;