@import "./variables";

div.TareaFin {
  div.container {
    /*Toda la parte de tu pagina aqui*/
    display: grid;
    place-items: center;
    text-align: center;
    background: $bg_primary_color;
    width: 100%;
    height: 100vh;
    label {
      font-size: 20px;
    }

  

    section.content {
      display: flex;
      flex-direction: column;
      place-items: center;
      background: $bg_light_color;
      border-radius: 34px;
      top: 50%;
      left: 50%;
      width: 410px;
      height: 520px;
      padding: 50px;

      & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      & > :nth-child(2) {
        background: $bg_primary_color;
        border-radius: 34px;
        width: 250px;
        height: 120px;

        img {
          height: 80px;
          width: 80px;
          border-radius: 50%;
        }
      }
      /*Estrellas*/
      & > :nth-child(4) {
        flex-direction: row;
        /*transform: rotateY(180deg);*/

        span span {
          color: $stars_color;

          svg[data-testid="StarBorderIcon"] {
            color: $tertiary_color;
          }

          
        }

        label {
          font-size: 40px;
          color: $font_secondary_color;
          margin: 0 10px;
          cursor: pointer;
          transition: all 0.3s;
          padding: 0 5px;
          margin: 0 5px;
        }

        

        h1 {
          background: $bg_quaternary_color;
          margin: 5px;
          padding: 5px;
          border-radius: 10px;
        }
      }
      /*Parte de comentarios*/
      & > :nth-child(6) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150%;
        height: 150px;

        textarea {
          text-decoration: none;
          width: 55%;
          max-width: 614px;
          height: 60px;
          background: $bg_quaternary_color;
          border-radius: 20px;
          resize: none;
          font-size: 17px;
          padding: 10px 10px 25px 10px;
        }
      }

      /*Botones*/
      & > :nth-child(7) {
        flex-direction: row;

        input {
          margin: 20px;
          width: fit-content;
          height: fit-content;
          color: $font_light_color;
          font-weight: bold;
          font-size: 18px;
          background: $btn_primary_color;
          border-radius: 20px;
          cursor: pointer;
          border: 0;
          padding: 8px 20px 8px 20px;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
