div.PerfilVoluntario {
  div.container {
    /*Estilo de tu pagina aqui*/
    display: grid;
    grid-template-areas: "seccion1 seccion2";
    grid-template-columns: 55% 45%;
    grid-template-rows: auto;
    padding: 20px 0 20px 0;

    img {
      height: 120px;
      width: 120px;
      border-radius: 50%;
    }

    input {
      margin: 20px;
      width: fit-content;
      height: fit-content;
      color: white;
      font-weight: bold;
      font-size: 18px;
      background: #f1b74d;
      border-radius: 20px;
      cursor: pointer;
      border: 0;
      padding: 8px 20px 8px 20px;
      align-self: center;

      &:hover {
        transform: scale(1.2);
      }
    }

    .sec1 {
      grid-area: seccion1;
      background-color: rgb(222, 222, 222);
      border-radius: 0px 10px 10px 0px;
      display: grid;
      grid-template-areas:
        "seccion3 seccion4"
        "seccion3 seccion5";
      grid-template-columns: 5% 95%;
      grid-template-rows: 60px auto;
    }

    .sec2 {
      grid-area: seccion2;
      display: flex;
      flex-direction: column;
      margin-left: 1%;

      p {
        font-size: small;
      }

      img {
        height: 50px;
        width: 50px;
      }

      & > div {
        align-self: center;
        height: auto;
        width: 99%;
        background-color: rgb(222, 222, 222);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
      }
    }

    .sec4 {
      grid-area: seccion4;
      background-color: rgb(222, 222, 222);
      border-radius: 0px 10px 0px 0px;
      padding: 15px 0px 20px 0px;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      a {
        text-decoration: none;
        font-size: 15px;
        color: black;
      }

      li.selected {
        border-bottom: 3px solid #d38713;
      }

      li:hover {
        border-bottom: 3px solid #d38713;
      }
    }

    .sec5 {
      grid-area: seccion5;
      background-color: rgb(222, 222, 222);
      border-radius: 0px 0px 10px 0px;
      display: flex;
      flex-direction: column;
      text-align: left;

      h3 {
        text-align: left;
        margin-left: 1%;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      section {
        background-color: #d38713;
        font-size: 15px;
        border: 1px solid #333333;
        border-radius: 10px;
      }

      .descrip {
        width: 50%;
        height: 120px;
      }

      .descrip2 {
        margin-left: 5%;
        width: 90%;
        height: 90px;
      }
    }
  }
}
