@import "./variables";

div.TerminosCondiciones {
  .con {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: auto;
    img{
      max-width: 500px;
      max-height: 500px;
      width: 90%;
      align-self: center;
      border-radius: 25px;
      border: 4px solid $bg_primary_color;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .cuerpo {
      width: 80%;
      display: flex;
      flex-direction: column;
      text-align: justify;
      text-decoration: none;
      justify-content: center;
      background-color: $bg_aux_color;
      border-radius: 10px;
      padding: 10px;
      h2 {
        background-color: $bg_primary_color;
        color: $font_light_color;
        padding: 10px;
        border-radius: 10px;
      }
      p {
        color: $font_dark_color;
      }
    }

  }
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 480px) {
  .cuerpo{
    width: 98% !important;
}
}

/* Estilos para tabletas */
@media screen and (min-width: 481px) and (max-width: 1104px) {
  .cuerpo{
      width: 90% !important;
  }
}