div.TareaFinVoluntario {
  div.container {
    /*Toda la parte de tu pagina aqui*/
    display: grid;
    place-items: center;
    text-align: center;
    background: rgba(235, 152, 0, 0.79);
    width: 100%;
    height: 100vh;
    label {
      font-size: 20px;
    }

    input:hover ~ label {
      color: #f1b74d;
    }

    section.content {
      display: flex;
      flex-direction: column;
      place-items: center;
      background: white;
      border-radius: 34px;
      top: 50%;
      left: 50%;
      width: 410px;
      height: 520px;
      padding: 50px;

      & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      & > :nth-child(2) {
        background: #f1b74d;
        border-radius: 34px;
        width: 250px;
        height: 120px;

        img {
          height: 80px;
          width: 80px;
          border-radius: 50%;
        }
      }
      /*Estrellas*/
      & > :nth-child(4) {
        flex-direction: row;
        /*transform: rotateY(180deg);*/

        span span {
          color: #f1b74d;

          svg[data-testid="StarBorderIcon"] {
            color: rgba(41, 40, 40, 0.452);
          }

          &:hover {
            color: #f1b74d;
          }
        }

        label {
          font-size: 40px;
          color: #444;
          margin: 0 10px;
          cursor: pointer;
          transition: all 0.3s;
          padding: 0 5px;
          margin: 0 5px;
        }

        input {
          display: none;
          &:checked ~ label {
            color: #f1b74d;
          }
          &:hover ~ label {
            transform: scale(1.2) rotate(-10deg);
          }
        }

        h1 {
          background: rgb(222, 222, 222);
          margin: 5px;
          padding: 5px;
          border-radius: 10px;
        }
      }
      /*Parte de comentarios*/
      & > :nth-child(6) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150%;
        height: 150px;

        textarea {
          text-decoration: none;
          width: 55%;
          max-width: 614px;
          height: 60px;
          background: #dedede;
          border-radius: 20px;
          resize: none;
          font-size: 17px;
          padding: 10px 10px 25px 10px;
        }
      }

      /*Botones*/
      & > :nth-child(7) {
        flex-direction: row;

        input {
          margin: 20px;
          width: fit-content;
          height: fit-content;
          color: white;
          font-weight: bold;
          font-size: 18px;
          background: #f1b74d;
          border-radius: 20px;
          cursor: pointer;
          border: 0;
          padding: 8px 20px 8px 20px;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
