@import "./variables";

div.agregar-tareas {  
  .agregar-tarea-general--container {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50px;
  
    .agregar-tareas--header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h1 {
        font-weight: 400;
        color: $font_dark_color;
      }
  
      hr {
        width: 90%;
        color: transparent;
        border-top: 2px dashed $tertiary_color;
      }
    }
  
    .agregar-tarea-form-container {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      margin: 30px auto;
      padding: 50px 70px 20px 70px;
      color: $font_light_color;
      background-color: $bg_primary_color;
      border-radius: 20px;
      box-shadow: 0px 0px 5px 20px $bg_aux_color;
      button{
        cursor:pointer;
        &:hover {
          scale: 1.1;
        }
      }
      label {
        font-weight: 600;
        font-size: large;
      }
  
      input, textarea {
        font-size: large;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        background-color: $font_light_color;
      }
  
      button {
        width: 50%;
        margin: 0 auto;
        padding: 10px 20px;
        font-size: large;
        color: $font_light_color;
        background-color: $btn_primary_color;
        border: none;
        border-radius: 15px;
      }
    }
  }
}
  
  
  