@import "./variables.scss";
#administrar-usuarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px 100px 100px;
  & > h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    & > button {
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;
      svg {
        cursor: pointer;
        margin-left: 10px;
        font-size: 2.5rem;
        color: $btn_secondary_color;
        &:hover {
          color: $btn_primary_color;
        }
      }
    }
  }
  .users--container {
    width: 90%;
    padding: 20px 5%;
    color: $color_dark;
    background-color: $bg_quaternary_color;
    border-radius: 10px;
    .user--card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.1rem;
      width: 100%;
      .btn {
        background-color: $btn_secondary_color;
        color: $font_light_color;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
          background-color: darken($btn_secondary_color, 10%);
        }
      }
    }
    hr {
      &:last-of-type {
        display: none;
      }
    }
  }
  .btn-primary {
    color: $font_light_color;
    background-color: $btn_secondary_color;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
      background-color: darken($btn_secondary_color, 10%);
    }
  }
  .btn-secondary {
    background-color: $bg_light_color;
    color: $font_dark_color;
    border: 1px solid $btn_secondary_color;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
      border: none;
      color: $font_light_color;
      background-color: $bg_primary_color;
    }
  }
  .input--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #modal-add {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: rgba(211, 211, 211, 0.4);
    z-index: 100;
    .modal-dialog {
      width: 30%;
      height: fit-content;
      background-color: $bg_light_color;
      border-radius: 10px;
      box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.3);
      animation: modal 0.3s ease-out;

      .modal-header {
        padding: 30px 30px 0px 30px;
        margin-bottom: 10px;
        text-align: left;
        font-size: 0.7rem;
        border-bottom: 1px solid $bg_secondary_color;
      }
      .modal-body {
        padding: 0px 30px 0px 30px;
        hr {
          border-color: rgba(211, 211, 211, 0.4);
        }
      }
      .modal-footer {
        padding: 10px 30px;
        margin-top: 10px;
        text-align: right;
        border-top: 1px solid $bg_secondary_color;
        button {
          margin-left: 10px;
        }
      }
      h1 {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
  }
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
