@import "./variables";
div.perfil-adulto-mayor--page-container {
  div.container {
    /*Contenido de tu pagina aquí*/
    display: flex;
    flex-direction: column;

    .ratings {
      width: fit-content;
      margin: 3px auto;
      color: $stars_color;
    }

    .perfil {
      display: flex;
    }

    .perfil-datos--container {
      height: auto;
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 10px 20px;
      background-color: $bg_quaternary_color;

      .perfil-datos--container--titulo {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 600;

        hr {
          height: 2px;
          width: 80%;
          background-color: $bg_dark_color;
        }
      }

      .perfil-datos--container--datos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;

        img {
          width: 35%;
          height: auto;
          border-radius: 100%;
        }

        .perfil-datos--container--datos--detalle {
          width: 60%;
          border-radius: 10px;
          padding: 10px;
          color: $font_light_color;
          background-color: $bg_primary_color;
          div{
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
              margin: 1px;
              padding: 0;
            }
            input {
              border: 1px solid $tertiary_color;
              border-radius: 5px;
              max-width: 275px;
              width: 100%;
              margin: 0px;
            }
          }
          input {
            border: 1px solid $tertiary_color;
            border-radius: 5px;
            max-width: 275px;
            width: 100%;
          }

          span {
            font-weight: 900;
          }
        }
      }

      .descripcion-ayudante--title {
        margin-top: 50px;
        font-weight: 900;
      }

      button {
        width: 50%;
        font-weight: 900;
        border: none;
        padding: 10px;
        margin: 25px auto;
        font-size: large;
        color: $font_light_color;
        background-color: $btn_primary_color;
        border-radius: 15px;
        cursor: pointer;
        &:hover {
          scale: 1.1;
        }
      }
    }

    .perfil-resenias--container {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 10px 20px;
      .resenias--container--titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 50px;
        font-weight: 600;

        hr {
          height: 2px;
          width: 75%;
          background-color: $bg_dark_color;
        }
      }
      .resenias--container--resenias {
        min-height: 60vh;
        height: auto;
        margin-top: -50px;
        padding-top: 50px;
        overflow: scroll;
        .resenias--inforesenia--container {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: $bg_quaternary_color;
          border-radius: 10px;
          max-width: 300px;
          margin: 3px auto;
          padding: 10px 50px;
          margin-bottom: 50px;

          img {
            width: 30%;
            height: auto !important;
            margin-top: -50px;
            margin-bottom: 50px;
            border-radius: 100%;
          }

          p {
            margin-top: -50px;
          }
        }
      }
      button {
        width: 50%;
        font-weight: 900;
        border: none;
        padding: 10px;
        margin: 5px auto;
        font-size: large;
        color: $font_light_color;
        background-color: $btn_primary_color;
        border-radius: 10px;
        margin-bottom: 20px;
        &:hover {
          scale: 1.1;
        }
      }

      .ratings {
        width: fit-content;
        margin: 3px auto;
        color: $stars_color;
        scale: 1.4;
        z-index: 1;

        svg:last-child {
          color: $light_color;
          z-index: 2;
        }
      }
    }
  }
}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 480px) {
  .perfil{
    flex-direction: column !important;
    .perfil-datos--container{
      width: 100% !important;
    }
    .perfil-resenias--container{
      width: 100% !important;
    }
  }
}