@import "./variables";

div.tareas-activas--page {
  div.tareas-activas--container {
    display: flex;
    margin-top: 25px;

    .todas-tareas--container {
      width: 100%;
      min-height: 100vh;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      background-color: $bg_quaternary_color;
      background-repeat: no-repeat;
      background-size: 50px;
      transition: width 0.5s;

      &.menu-lateral-activo {
        width: 60%;
        transition: width 0.5s;
      }

      .todas-tareas--header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-top: 30px;

        button {
          display: flex;
          align-items: center;
          color: $font_light_color;
          background-color: $btn_primary_color;
          border: none;
          border-radius: 10px;
          &:hover {
            scale: 1.1;
          }
        }
      }

      .todas-tareas--body {
        table {
          width: 100%;
          border-spacing: 0 30px;

          thead {
            text-align: center;
          }

          tbody {
            text-align: center;
            tr {
              padding: 10px 0px;
              background-color: none;
              transition: background-color 0.5s;
            }

            .en-proceso {
              color: $font_light_color;
              background-color: $bg_primary_color;
              padding: auto;
              border-radius: 10px;
            }

            .tarea-activa {
              height: 40px;
              background-color: $bg_light_color;
              transition: background-color 0.5s;

              .en-proceso {
                border-radius: 0;
              }
            }
          }
        }
      }
    }

    .tarea--container {
      display: none;
      &.tarea-activo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        padding: 10px 30px;

        hr {
          width: 100%;
          margin-top: 20px;
          margin-bottom: 20px;
          border-top: 1px solid $tertiary_color;
        }

        button{
          font-size: larger;
          padding: 5px 20px;
          border: none;
          border-radius: 10px;
          color: $font_light_color;
          background-color: $bg_primary_color;
          &:hover {
            scale: 1.1;
          }
        }

        .volunter--container {
          width: 70%;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 20px;
          background-color: $bg_primary_color;

          .volunter--header {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px 20px;
            color: $font_light_color;

            img {
              width: 20%;
            }
          }

          .ratings {
            color: $stars_color;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 10px;

            svg:last-child {
              color: $dark_color;
            }
          }
        }

        .descripcion-tarea--container {
          margin-top: 50px;
          h3 {
            margin-bottom: 20px;
          }
        }

        .ubicacion--container {
          width: 100%;
          display: flex;
          flex-direction: column;

          p {
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 30px;
            svg {
              color: red;
            }
          }
        }
      }
    }
  }
}
