@import "./variables";

div.soporte-message {
  section.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    h1 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 7px;
    }
    h2 {
      font-size: 20px;
      margin-bottom: 7px;
      font-weight: bold;
    }

    /*contenido*/

    div input {
      font-size: 18px;
      border-radius: 10px;
      border: 1px solid $dark_color;
    }

    div.Asunto {
      display: flex;
      flex-direction: column;

      & > input:nth-of-type(1) {
        /*txt asunto*/
        width: 63vw;
        padding: 7px 11px;
        background: $bg_light_color;
      }
    }

    div.Detalles {
      display: flex;
      flex-direction: column;
      & > textarea {
        /*txt detalle*/
        font-size: 18px;
        padding: 7px 11px;
        box-sizing: border-box;
        width: 65vw;
        height: 22vh;
        background: $bg_light_color;
        border: 1px solid $dark_color;
        border-radius: 10px;
        resize: none;
      }
    }

    div.Ayuda {
      display: flex;
      background: $bg_quaternary_color;
      border-radius: 20px;
      width: 70vw;
      margin-top: 17px;

      p {
        /*Texto dentro del div ayuda*/
        margin: 10px;
      }
    }

    .btn {
      width: fit-content;
      padding: 10px 15px;
      font-size: 15px;
      border-radius: 15px;
      margin-top: 1vh;
      cursor: pointer;
      border: none;
      font-weight: bold;      
      border: 2px solid $btn_primary_color;
      &:hover {
        scale: 1.1;
      }
    }

    .btn-orange {
      /*Boton agregar captura*/
      background-color: $btn_primary_color;
      color: $font_light_color;
      margin-left: 6px;
    }

    .btn-grey {
      /*Boton agregar captura*/
      background-color: $bg_light_color;
      color: $font_dark_color;
      margin-right: 6px;
    }

    .ocultar {
      color: $font_light_color;
      display: flex;
      margin-left: 5px;
      margin-top: 0px;
      margin-bottom: 2px;
      font-size: small;
    }

    .error {
      color: red;
    }
  }
}
