/***************Cabecera******************/

header.NavBar1 {
    /*Contenedor de cabecera*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0px 0px 0px;
    background-color: white;
    z-index: 2;
  
    img {
      width: 100px;
      height: 100px;
      user-select: none;
      -webkit-user-drag: none;
      cursor: pointer;
    }
  
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    ul {
      /*Lista de contenidos*/
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;
    }
  
    li {
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 30px;
    }
  
    a {
      /*Enlaces*/
      margin: 0px 20px 0px 20px;
      text-decoration: none;
      font-size: 23px;
      color: black;
      text-align: center;
    }
  
    li {
      &.selected {
        /*Elemento seleccionado de Menú*/
        border-bottom: 3px solid #d38713;
      }
  
      &:hover {
        /*Elemento apuntado del menú*/
        border-bottom: 3px solid #d38713;
      }
    }
  
    span {
      display: none;
      cursor: pointer;
  
      svg {
        width: 20px;
        height: 20px;
        margin-right: 20px;
      }
    }
  
    ul.show {
      top: 120px;
    }
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 770px) {
    header.NavBar1 {
      nav {
        height: 95px;
      }
  
      span.btn_menu {
        display: flex;
      }
  
      ul {
        display: flex;
        align-items: center;
        position: fixed;
        width: 100vw;
        height: calc(100% - 95px);
        background-color: #414141;
        top: -100vh;
        text-align: center;
        transition: all 0.4s;
        flex-direction: column;
  
        li {
          margin: 20px 0 0 0;
  
          &:hover {
            border: 0;
          }
  
          a {
            font-size: 25px;
            color: white;
            font-weight: bold;
          }
  
          &:hover {
            color: #d38713;
          }
  
          &.selected {
            background-color: rgba(0, 0, 0, 0.524);
            border: 0;
            width: 100%;
          }
        }
      }
    }
  }
  
  /* Estilos para tabletas */
  @media screen and (min-width: 771px) and (max-width: 990px) {
    header.NavBar1 {
      a {
        font-size: 20px;
        text-align: center;
      }
  
      li {
        margin: 0 15px;
        width: min-content;
        margin: 0 30px;
      }
    }
  }
  
  /* Estilos para escritorio */
  @media screen and (min-width: 991px) {}
  
  @media screen and (max-width: 858x) and (orientation: landscape) {
    header.NavBar1 {
      li {
        margin: 5px 0 0 0;
      }
  
      ul {
        overflow: scroll;
        height: calc(100% - 95px);
      }
    }
  }
  