div.TareasHistorialA div.container {
  div.panel {
    height: 100%;
    display: flex;
    flex-direction: row;

    section.tareas_content {
      /*Panel que contiene la tabla y botones de filtrado*/
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 150vh;
      background: rgb(222, 222, 222);
      border-radius: 0 15px 15px 0;

      div.table {
        /*Div de table*/
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        text-align: center;
        font-size: 15px;
        overflow-y: scroll;
        table {
          border-collapse: collapse;
        }

        thead {
          position: sticky;
          top: 0;
          background: rgb(222, 222, 222);
          z-index: 1;

          th {
            font-weight: bold;
            height: 50px;
            user-select: none;
            div {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              font-weight: bold;
              height: 50px;
              user-select: none;
            }
            svg {
              margin-right: 5px;
              display: none;
            }
          }

          th:hover {
            svg {
              display: flex;
            }
          }
        }

        tbody {
          tr {
            height: 50px;
            cursor: pointer;
          }

          tr.selected {
            background-color: white;
          }

          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }

          td {
            user-select: none;
            img {
              -webkit-user-drag: none;
            }
          }

          p.activa,
          p.enproceso,
          p.finalizada {
            display: inline;
            color: white;
            border-radius: 20px;
            width: fit-content;
            height: auto;
            padding: 0px 20px 0px 20px;
          }

          p.activa {
            background: #16652c;
          }

          p.enproceso {
            background: #d38713;
          }

          p.finalizada {
            background: red;
          }
        }
      }
    }

    section.tarea_desc {
      /*Bloque: detalles de tarea*/
      display: none;
      margin: 30px 50px 0px 50px;
      width: 50%;
      flex-direction: column;

      & > section {
        display: none;
        margin-bottom: 20px;
        align-self: flex-end;
        svg {
          color: black;
          font-size: 20px;
          cursor: pointer;
        }
      }


      > div:nth-of-type(1) {
        /*Bloque: Resumen de datos de voluntario*/
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100%;
        max-width: 498px;
        height: fit-content;
        background: #f1b74d;
        padding: 15px 0 15px 0;
        border-radius: 42px;
        margin-bottom: 30px;

        div:nth-of-type(2) {
          /*Bloque: Sistema de puntuación*/
          display: flex;
          flex-direction: row;
          align-self: center;
          align-items: center;
          margin-top: 10px;

          p {
            /*Puntuación*/
            color: white;
            font-size: 20px;
            font-weight: 600;
            margin-left: 10px;
          }
          span {
            /*Grupo de estrellas*/
            font-size: 30px;
            color: yellow;
            svg {
              /*Cada estrella*/
              margin: 0 8px;
            }
            svg[data-testid="StarBorderIcon"] {
              /*Borde de estrella incompleta*/
              color: rgba(41, 40, 40, 0.452);
            }
          }
        }

        div:nth-of-type(1) {
          /*Bloque: foto, nombre y voluntario*/
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          p {
            /*Texto: Nombre y Voluntario*/
            text-align: center;
            color: #ffffff;
          }

          p:first-child {
            /*Texto: Nombre */
            font-size: 23px;
          }

          p:last-child {
            /*Texto: Voluntario */
            font-size: 20px;
          }

          div {
            /*Bloque: Nombre de voluntario*/
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            margin-left: 5px;
            border: 0;
          }
        }

        img {
          /*Img: foto de voluntario*/
          width: 85px;
          height: 85px;
          border-radius: 50%;
        }
      }

      > div:nth-of-type(2) {
        /*Bloque*/
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        border-bottom: 1.5px solid rgba(128, 128, 128, 0.192);

        p:nth-child(1) {
          /*Cabecera: Descripción de tarea*/
          font-size: 17px;
          font-weight: bold;
          margin-bottom: 15px;
        }

        p:nth-child(2) {
          /*Contenido: Descripción*/
          font-size: 17px;
          text-align: justify;
        }
      }
    }
  }
}

@media screen and (max-width: 1007px) {
  section.tarea_desc {
    width: 100% !important;
    & > section {
      display: unset!important;
      margin-bottom: 20px;
      align-self: flex-end;
      svg {
        color: black;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
