@import "./variables";

.MuiDialog-paperWidthSm {
  border-radius: 25px !important;
  .MuiTypography-colorTextSecondary {
    color: black;
  }
  .MuiButton-textPrimary {
    color: $color_6;
  }
}

#TareasA {
  display: flex;
  flex-direction: column;
  div.containers {
    height: 100%;
    display: flex;
    flex-direction: row;
    section.tareas_content {
      /*Panel que contiene la tabla y botones de filtrado*/
      display: flex;
      flex-direction: column;
      width: 100%;
      background: $bg_quaternary_color;
      border-radius: 0 15px 15px 0;

      div.btns {
        display: flex;
        justify-content: space-around;
        margin: 40px 0px 40px 0px;

        .filtro,
        .agregar {
          /*Diseño de los botones de filtrado y agregar tarea*/
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 170px;
          height: 30px;
          background: $btn_primary_color;
          border-radius: 20px;
          color: $font_light_color;
          font-size: 15px;
          vertical-align: middle;
          cursor: pointer;
          user-select: none;
          &:hover {
            scale: 1.1;
          }

          svg {
            width: 20px;
            height: 20px;
            margin: 0px 5px 0px 0px;
            color: $light_color;
          }
        }
      }

      div.tables {
        /*Div de table*/
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 15px;
        overflow-y: scroll;
        padding-bottom: 25px;
        min-height: 60vh;
        table {
          border-collapse: collapse;
        }

        thead {
          position: sticky;
          top: 0;
          background: $bg_quaternary_color;
          z-index: 1;

          th {
            font-weight: bold;
            height: 50px;
            user-select: none;
            div {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              font-weight: bold;
              height: 50px;
              user-select: none;
            }
            svg {
              margin-right: 5px;
              display: none;
            }
          }

          th:hover {
            svg {
              display: flex;
            }
          }
        }

        tbody {
          tr {
            height: 50px;
            cursor: pointer;
          }

          tr.selected {
            background-color: $bg_light_color;
          }

          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }

          td {
            user-select: none;
            img {
              -webkit-user-drag: none;
            }
          }

          p.activa,
          p.enproceso,
          p.finalizada {
            display: inline;
            color: $font_light_color;
            border-radius: 20px;
            width: fit-content;
            height: auto;
            padding: 0px 20px 0px 20px;
          }

          p.activa {
            background: green;
          }

          p.enproceso {
            background: #d38713;
          }

          p.finalizada {
            background: red;
          }
        }
      }
    }

    section.tarea_desc {
      /*Bloque: detalles de tarea*/
      display: none;
      margin: 30px 35px 0px 35px;
      width: 50%;
      max-width: 400px;
      flex-direction: column;

      & > section {
        display: none;
        margin-bottom: 20px;
        align-self: flex-end;
        svg {
          color: $font_dark_color;
          font-size: 20px;
          cursor: pointer;
        }
      }

      input {
        /*Diseño Botones de Finalizar y Enviar*/
        width: fit-content;
        height: fit-content;
        color: $font_light_color;
        font-weight: bold;
        font-size: 18px;
        background: $btn_primary_color;
        border-radius: 20px;
        cursor: pointer;
        border: 0;
        padding: 8px 20px 8px 20px;
      }

      > div:nth-of-type(1) {
        /*Bloque: Resumen de datos de voluntario*/
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100%;
        max-width: 498px;
        height: fit-content;
        background: $bg_primary_color;
        padding: 15px 0 15px 0;
        border-radius: 42px;
        margin-bottom: 30px;

        div:nth-of-type(2) {
          /*Bloque: Sistema de puntuación*/
          display: flex;
          flex-direction: row;
          align-self: center;
          align-items: center;
          margin-top: 10px;

          p {
            /*Puntuación*/
            color: $font_light_color;
            font-size: 20px;
            font-weight: 600;
            margin-left: 10px;
          }
          span {
            /*Grupo de estrellas*/
            font-size: 30px;
            color: $stars_color;
            svg {
              /*Cada estrella*/
              margin: 0 8px;
            }
            svg[data-testid="StarBorderIcon"] {
              /*Borde de estrella incompleta*/
              color: $tertiary_color;
            }
          }
        }

        div:nth-of-type(1) {
          /*Bloque: foto, nombre y voluntario*/
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          p {
            /*Texto: Nombre y Voluntario*/
            text-align: center;
            color: $font_light_color;
            margin: 0;
          }

          p:first-child {
            /*Texto: Nombre */
            font-size: 23px;
          }

          p:last-child {
            /*Texto: Voluntario */
            font-size: 20px;
          }

          div {
            /*Bloque: Nombre de voluntario*/
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            margin-left: 5px;
            border: 0;
          }
        }

        img {
          /*Img: foto de voluntario*/
          width: 85px;
          height: 85px;
          border-radius: 50%;
        }
      }

      > div:nth-of-type(2) {
        /*Bloque*/
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        border-bottom: 1.5px solid $tertiary_color;

        p:nth-child(1) {
          /*Cabecera: Descripción de tarea*/
          font-size: 17px;
          font-weight: bold;
          margin-bottom: 15px;
        }

        p:nth-child(2) {
          /*Contenido: Descripción*/
          font-size: 17px;
          text-align: justify;
        }

        input {
          /*Boton de finalizar*/
          display: flex;
          align-self: flex-end;
          margin-top: 30px;
          &:hover {
            scale: 1.1;
          }
        }
      }

      > div:nth-of-type(3) {
        /*Bloque*/
        display: flex;
        flex-direction: column;
        width: 100%;

        p {
          /*Parrafo Texto*/
          margin-top: 20px;
          font-weight: bold;
          font-size: 17px;
        }

        div.msgs {
          /*Bloque: contenido de comentarios*/
          height: 30vw;
          overflow: auto;
          & *{
            font-weight: normal !important;
            z-index: 1;
          }
          .wy-scroll-y{
            will-change:inherit;
          }
          .wy-message .wy-avatar-presence{
            display: none;
          }
          .wy-message-bubble .wy-likes, .wy-message-bubble .wy-reactions-line{
            display: none;
          }
          .wy-appbars > .wy-appbar, .wy-appbars > .wy-toolbar{
            display: none;
          }
        }

        div.txtfield {
          /*Bloque: Textarea y div con imgs de documento y foto*/
          display: flex;
          flex-direction: column;
          align-items: center;

          textarea {
            /*Sección de texto*/
            text-decoration: none;
            width: 100%;
            max-width: 614px;
            height: 60px;
            background: $bg_quaternary_color;
            border-radius: 20px 20px 0px 0px;
            border-bottom: 0;
            resize: none;
            font-size: 17px;
            padding: 10px 10px 25px 10px;
            overflow: auto;
            outline: none;
          }
          div {
            /*Bloque: div con imgs de documento y foto*/
            display: flex;
            flex-direction: row;
            background: $bg_quaternary_color;
            padding: 0px 10px 15px 10px;
            border: 1px solid $tertiary_color;
            border-top: 0;
            width: 100%;
            max-width: 614px;
            border-radius: 0px 0px 20px 20px;

            svg {
              /*Imgs de documento y foto*/
              width: 25px;
              height: 23px;
              margin-right: 10px;
              cursor: pointer;
              color: $tertiary_color;
              path {
                stroke: $tertiary_color;
              }
            }
          }
        }
        input {
          /*Boton: Enviar*/
          display: flex;
          align-self: flex-end;
          border: 0;
          align-items: center;
          justify-content: center;
          margin: 30px 0 0 0;
          &:hover {
            scale: 1.1;
          }
        }
      }
    }

    section.tarea_desc2 {
      /*Bloque: detalles de tarea*/
      display: none;
      margin: 30px 50px 0px 50px;
      width: 50%;
      flex-direction: column;

      section {
        display: none;
        margin-bottom: 20px;
        align-self: flex-end;
        svg {
          color: $font_dark_color;
          font-size: 20px;
          cursor: pointer;
        }
      }

      div {
        /*Bloque*/
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        border-bottom: 1.5px solid $tertiary_color;

        p:nth-child(1) {
          /*Cabecera: Descripción de tarea*/
          font-size: 17px;
          font-weight: bold;
          margin-bottom: 15px;
        }
        p:nth-child(2) {
          /*Contenido: Descripción*/
          font-size: 17px;
          text-align: justify;
        }
      }
      input {
        /*Boton de cancelar*/
        display: flex;
        align-self: center;
        margin-top: 30px;
      }

      input {
        /*Diseño Botones de Finalizar y Enviar*/
        width: fit-content;
        height: fit-content;
        color: $font_light_color;
        font-weight: bold;
        font-size: 18px;
        background: $btn_primary_color;
        border-radius: 20px;
        cursor: pointer;
        border: 0;
        padding: 8px 20px 8px 20px;
      }
    }
  }

  @media screen and (max-width: 1007px) {
    section.tarea_desc {
      width: 100% !important;
      max-width: unset !important;
      margin: 0 !important;
      & > section {
        display: unset !important;
        margin-bottom: 20px;
        align-self: flex-end;
        svg {
          color: $font_dark_color;
          font-size: 20px;
          cursor: pointer;
        }
      }

      div.msgs{
        height: 70vh !important;
      }
    }
    section.tarea_desc2 {
      width: 100% !important;
      & > section {
        display: unset !important;
        margin-bottom: 20px;
        align-self: flex-end;
        svg {
          color: $font_dark_color;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
  }
}
