@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body,h1,h2,h3,h4,h5,h6,p,div{
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}