@charset "UTF-8";
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
body * {
  font-family: "DM Sans";
  font-weight: normal;
}

div[role=alert] {
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}
div.Signup {
  background-color: #eeac34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
div.Signup div.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  margin-left: 20px;
  max-width: 100vw;
}
div.Signup div.form {
  /*Contenedor de los elementos del formulario*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 379px;
  height: 525px;
  background: white;
  border-radius: 34px;
  font-size: 13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}
div.Signup h1 {
  /*H1: SignUp*/
  font-weight: bold;
  font-size: 40px;
  color: black;
  text-align: center;
  margin-bottom: 27px;
}
div.Signup form > div:first-child {
  /*Contenedor de Nombres y Apellidos*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
div.Signup form > div input {
  /*Inputs text: Nombres Apellidos*/
  width: 140px;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  text-align: center;
}
div.Signup form > input:not(input[type=submit]) {
  /*Inputs text: Email, Cédula, Contraseña*/
  width: 292px;
  height: 36px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin-top: 16px;
  text-align: center;
}
div.Signup input[type=submit] {
  /*Boton de Sign UP*/
  width: 159px;
  height: 40px;
  background: #eeac34;
  border-radius: 50px;
  color: white;
  border: 0;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
div.Signup div.form form > h2 {
  /*txt: La contraseña debe tener minimo 8 caracteres*/
  margin-top: 13px;
  font-weight: bold;
  font-size: 12px;
  color: black;
  opacity: 0.6;
}
div.Signup div.btnUser {
  /*Boton de tipo de usuario*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.Signup div.btnUser p {
  /*Boton de tipo de usuario: opciones*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 26px;
  background: #ffffff;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  z-index: 1;
  user-select: none;
}
div.Signup div.btnUser p:nth-of-type(2) {
  /*Boton de tipo de usuario: O*/
  width: 28px;
  height: 28px;
  background: #d9d9d9;
  border: 0;
  border-radius: 100%;
  z-index: 2;
}
div.Signup div.btnUser p:nth-of-type(1) {
  /*Boton de tipo de usuario: Voluintario*/
  cursor: pointer;
  transform: translateX(10px);
}
div.Signup div.btnUser p:nth-of-type(3) {
  /*Boton de tipo de usuario: Usuario*/
  cursor: pointer;
  transform: translateX(-10px);
}
div.Signup div.btnUser p.selected {
  background: #eeac34;
  color: white;
}
div.Signup div.photos {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 450px;
  height: 525px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0 34px 34px 0;
  transform: translateX(-43px);
}
div.Signup div.elipse1 {
  position: relative;
  width: 214px;
  height: 203px;
  left: 70px;
  top: 45px;
  background: #eeac34;
  border-radius: 100%;
}
div.Signup div.elipse2 {
  position: relative;
  width: 214px;
  height: 203px;
  left: 200px;
  top: 65px;
  background: #eeac34;
  border-radius: 100%;
}
div.Signup div.elipse1 img {
  position: relative;
  width: 122px;
  height: 159px;
  left: -1px;
  top: 20px;
  user-select: none;
  -webkit-user-drag: none;
}
div.Signup div.elipse2 img {
  position: relative;
  width: 165px;
  height: 131px;
  left: 1px;
  top: 30px;
  user-select: none;
  -webkit-user-drag: none;
}

/*Formulario de Signup*/
/* Imágenes del signup*/
input:focus {
  outline: none;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 480px) {
  div.Signup div.container {
    height: 100%;
    width: 100%;
    margin-left: 0;
    background-color: white;
  }
  div.Signup div.form form > div:first-child {
    flex-direction: column;
  }
  div.Signup div.form form > div:first-child input {
    width: 292px;
    height: 36px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin-top: 16px;
    text-align: center;
  }
  div.Signup div.photos {
    display: none;
  }
}
/* Estilos para tabletas */
@media screen and (min-width: 481px) and (max-width: 768px) {
  div.Signup div.photos {
    display: none;
  }
  div.Signup div.container {
    scale: 1.2;
    margin-left: 0;
  }
}
/* Estilos para escritorio */
@media screen and (min-width: 769px) {
  div.Signup div.container {
    scale: 1;
  }
}

/*# sourceMappingURL=signup2.css.map */
