@charset "UTF-8";
/*****************Botones ************************/
div.Soporte div.btns {
  /*Bloque: Botones*/
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  text-align: center;
  justify-content: space-between;
  transform: scale(0.8);
}
div.Soporte div.btns svg {
  /*Img Guia*/
  width: 70px;
  height: 70px;
  color: #456CD9;
}
div.Soporte div.btns > div {
  /*Bloques: btns de opciones*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 140px;
  margin-top: 75px;
  background-color: #F3BF61;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  user-select: none;
}
div.Soporte div.btns p {
  /*Texto: debajo de cada icono*/
  font-weight: bold;
  font-size: 19px;
  margin-top: 10px;
}
div.Soporte div.content div.FAQ {
  /*Bloque: FAQ*/
  display: flex;
  flex-direction: column;
}
div.Soporte div.content div.FAQ h1 {
  /*Bloque - FAQ: h1 Preguntas Frecuentes*/
  font-weight: bolder;
  font-size: 25px;
  margin: 20px 0 35px 0;
  text-align: center;
}
div.Soporte div.content div.FAQ section {
  /*Bloque: FAQ*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.Soporte div.content div.FAQ section > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #858585;
  width: 70%;
  padding: 15px 0 15px 0;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}
div.Soporte div.content div.FAQ section > div > p {
  /*Simbolo de +*/
  margin: 0 20px 0 60px;
  font-size: 24px;
}
div.Soporte div.content div.FAQ section > div > div {
  /*Contenedores de respuesta y pregunta*/
  display: flex;
  flex-direction: column;
  text-align: justify;
}
div.Soporte div.content div.FAQ section > div > div p:last-child {
  /*Contenedores de respuesta y pregunta*/
  display: none;
  margin: 30px 0 0 0;
}
div.Soporte div.content div.Contacto {
  /*Contenedor de contenido de Contacto*/
  display: none;
  flex-direction: column;
  align-items: center;
}
div.Soporte div.content div.Contacto > h1 {
  /*H1 de Contacto*/
  font-weight: bolder;
  font-size: 28px;
  margin: 20px 0 35px 0;
  text-align: center;
}
div.Soporte div.content div.Contacto section {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
}
div.Soporte div.content div.Contacto section > div {
  /*Bloques de opción*/
  display: flex;
  flex-direction: row;
  border: 1px solid #333333;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 40px;
  align-items: center;
}
div.Soporte div.content div.Contacto section > div h2 {
  /*Titulos de las opciones*/
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 20px;
  margin: 0 0 15px 0;
  user-select: none;
}
div.Soporte div.content div.Contacto section > div p {
  /*Contenido de las opciones*/
  width: 600px;
  font-size: 18px;
  margin: 0 0 15px 0;
  user-select: none;
  text-align: justify;
}
div.Soporte div.content div.Contacto section > div svg:first-child {
  /*Images a la izquierda del texto*/
  width: 45px;
  height: 45px;
  margin-right: 40px;
  -webkit-user-drag: none;
  color: black;
}
div.Soporte div.content div.Contacto section > div svg:last-child {
  /*Images a la izquierda del texto*/
  width: 30px;
  height: 30px;
  margin-left: 20px;
  background-color: #456CD9;
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  -webkit-user-drag: none;
  color: white;
}

/*Container*/
/*Interfaz de Contacto*/
/* Estilos para dispositivos móviles */
@media screen and (max-width: 480px) {
  div.Soporte div.btns p {
    /*Texto: debajo de cada icono*/
    display: none;
  }
  div.Soporte div.btns > div {
    /*Bloques: btns de opciones*/
    width: 100px;
    height: 100px;
  }
  div.Soporte div.content div.FAQ section > div {
    width: 90%;
  }
  div.Soporte div.content div.FAQ section p {
    margin-left: 20px !important;
  }
  div.Soporte div.content div.Contacto section {
    margin-top: 4vh;
  }
  div.Soporte div.content div.Contacto section > div {
    padding: 15px;
  }
  div.Soporte div.content div.Contacto section > div p {
    width: auto;
    font-size: 15px;
    margin: 0 0 15px 0;
  }
  div.Soporte div.content div.Contacto section > div h2 {
    font-size: 15px;
    margin: 0 0 5px 0;
  }
  div.Soporte div.content div.Contacto section > div svg:first-child {
    display: none;
  }
  div.Soporte div.content div.Contacto section > div svg:last-child {
    border-radius: 100%;
    padding: 12px;
  }
}
/* Estilos para tabletas */
@media screen and (min-width: 481px) and (max-width: 820px) {
  div.Soporte div.content div.FAQ div {
    width: 80% !important;
  }
  div.Soporte div.content div.Contacto section > div {
    max-width: 530px;
  }
  div.Soporte div.content div.Contacto div > p {
    width: auto !important;
    max-width: 500px;
  }
  div.Soporte div.content div.Contacto div svg:first-child {
    width: 50px !important;
    height: 50px !important;
    margin-right: 20px !important;
  }
  div.Soporte div.content div.Contacto div svg:last-child {
    width: 35px !important;
    height: 35px !important;
    margin-left: 10px !important;
    padding: 5px 20px 5px 20px !important;
  }
  div.Soporte div.content div.Contacto section {
    margin-top: 5vh;
  }
}
/* Estilos para escritorio */

/*# sourceMappingURL=soporte2.css.map */
