@charset "UTF-8";
div.TareasA div.container div.panel {
  margin-top: 120px;
  margin-bottom: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
div.TareasA div.container div.panel section.tareas_content {
  /*Panel que contiene la tabla y botones de filtrado*/
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150vh;
  background: rgb(222, 222, 222);
  border-radius: 0 15px 15px 0;
}
div.TareasA div.container div.panel section.tareas_content div.btns {
  display: flex;
  justify-content: space-around;
  margin: 40px 0px 40px 0px;
}
div.TareasA div.container div.panel section.tareas_content div.btns .filtro,
div.TareasA div.container div.panel section.tareas_content div.btns .agregar {
  /*Diseño de los botones de filtrado y agregar tarea*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 30px;
  background: #f1b74d;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}
div.TareasA div.container div.panel section.tareas_content div.btns .filtro svg,
div.TareasA div.container div.panel section.tareas_content div.btns .agregar svg {
  width: 20px;
  height: 20px;
  margin: 0px 5px 0px 0px;
  color: white;
}
div.TareasA div.container div.panel section.tareas_content div.table {
  /*Div de table*/
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  text-align: center;
  font-size: 15px;
  overflow-y: scroll;
}
div.TareasA div.container div.panel section.tareas_content div.table table {
  border-collapse: collapse;
}
div.TareasA div.container div.panel section.tareas_content div.table thead {
  position: sticky;
  top: 0;
  background: rgb(222, 222, 222);
  z-index: 1;
}
div.TareasA div.container div.panel section.tareas_content div.table thead th {
  font-weight: bold;
  height: 50px;
  user-select: none;
}
div.TareasA div.container div.panel section.tareas_content div.table thead th div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 50px;
  user-select: none;
}
div.TareasA div.container div.panel section.tareas_content div.table thead th svg {
  margin-right: 5px;
  display: none;
}
div.TareasA div.container div.panel section.tareas_content div.table thead th:hover svg {
  display: flex;
}
div.TareasA div.container div.panel section.tareas_content div.table tbody tr {
  height: 50px;
  cursor: pointer;
}
div.TareasA div.container div.panel section.tareas_content div.table tbody tr.selected {
  background-color: white;
}
div.TareasA div.container div.panel section.tareas_content div.table tbody img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
div.TareasA div.container div.panel section.tareas_content div.table tbody td {
  user-select: none;
}
div.TareasA div.container div.panel section.tareas_content div.table tbody td img {
  -webkit-user-drag: none;
}
div.TareasA div.container div.panel section.tareas_content div.table tbody p.activa,
div.TareasA div.container div.panel section.tareas_content div.table tbody p.enproceso,
div.TareasA div.container div.panel section.tareas_content div.table tbody p.finalizada {
  display: inline;
  color: white;
  border-radius: 20px;
  width: fit-content;
  height: auto;
  padding: 0px 20px 0px 20px;
}
div.TareasA div.container div.panel section.tareas_content div.table tbody p.activa {
  background: #16652c;
}
div.TareasA div.container div.panel section.tareas_content div.table tbody p.enproceso {
  background: #d38713;
}
div.TareasA div.container div.panel section.tareas_content div.table tbody p.finalizada {
  background: red;
}
div.TareasA div.container div.panel section.tarea_desc {
  /*Bloque: detalles de tarea*/
  display: none;
  margin: 30px 50px 0px 50px;
  width: 50%;
  flex-direction: column;
}
div.TareasA div.container div.panel section.tarea_desc > section {
  display: none;
  margin-bottom: 20px;
  align-self: flex-end;
}
div.TareasA div.container div.panel section.tarea_desc > section svg {
  color: black;
  font-size: 20px;
  cursor: pointer;
}
div.TareasA div.container div.panel section.tarea_desc input {
  /*Diseño Botones de Finalizar y Enviar*/
  width: fit-content;
  height: fit-content;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background: #f1b74d;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  padding: 8px 20px 8px 20px;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(1) {
  /*Bloque: Resumen de datos de voluntario*/
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 498px;
  height: fit-content;
  background: #f1b74d;
  padding: 15px 0 15px 0;
  border-radius: 42px;
  margin-bottom: 30px;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(1) div:nth-of-type(2) {
  /*Bloque: Sistema de puntuación*/
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  margin-top: 10px;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(1) div:nth-of-type(2) p {
  /*Puntuación*/
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(1) div:nth-of-type(2) span {
  /*Grupo de estrellas*/
  font-size: 30px;
  color: yellow;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(1) div:nth-of-type(2) span svg {
  /*Cada estrella*/
  margin: 0 8px;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(1) div:nth-of-type(2) span svg[data-testid=StarBorderIcon] {
  /*Borde de estrella incompleta*/
  color: rgba(41, 40, 40, 0.452);
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(1) div:nth-of-type(1) {
  /*Bloque: foto, nombre y voluntario*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(1) div:nth-of-type(1) p {
  /*Texto: Nombre y Voluntario*/
  text-align: center;
  color: #ffffff;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(1) div:nth-of-type(1) p:first-child {
  /*Texto: Nombre */
  font-size: 23px;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(1) div:nth-of-type(1) p:last-child {
  /*Texto: Voluntario */
  font-size: 20px;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(1) div:nth-of-type(1) div {
  /*Bloque: Nombre de voluntario*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-left: 5px;
  border: 0;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(1) img {
  /*Img: foto de voluntario*/
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(2) {
  /*Bloque*/
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.192);
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(2) p:nth-child(1) {
  /*Cabecera: Descripción de tarea*/
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(2) p:nth-child(2) {
  /*Contenido: Descripción*/
  font-size: 17px;
  text-align: justify;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(2) input {
  /*Boton de finalizar*/
  display: flex;
  align-self: flex-end;
  margin-top: 30px;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(3) {
  /*Bloque*/
  display: flex;
  flex-direction: column;
  width: 100%;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(3) p {
  /*Parrafo Texto*/
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(3) div.msgs {
  /*Bloque: contenido de comentarios*/
  height: 30vw;
  overflow: auto;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(3) div.txtfield {
  /*Bloque: Textarea y div con imgs de documento y foto*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(3) div.txtfield textarea {
  /*Sección de texto*/
  text-decoration: none;
  width: 100%;
  max-width: 614px;
  height: 60px;
  background: #dedede;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 0;
  resize: none;
  font-size: 17px;
  padding: 10px 10px 25px 10px;
  overflow: auto;
  outline: none;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(3) div.txtfield div {
  /*Bloque: div con imgs de documento y foto*/
  display: flex;
  flex-direction: row;
  background: #dedede;
  padding: 0px 10px 15px 10px;
  border: 1px solid grey;
  border-top: 0;
  width: 100%;
  max-width: 614px;
  border-radius: 0px 0px 20px 20px;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(3) div.txtfield div svg {
  /*Imgs de documento y foto*/
  width: 25px;
  height: 23px;
  margin-right: 10px;
  cursor: pointer;
  color: grey;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(3) div.txtfield div svg path {
  stroke: grey;
}
div.TareasA div.container div.panel section.tarea_desc > div:nth-of-type(3) input {
  /*Boton: Enviar*/
  display: flex;
  align-self: flex-end;
  border: 0;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 0;
}
div.TareasA div.container div.panel section.tarea_desc2 {
  /*Bloque: detalles de tarea*/
  display: none;
  margin: 30px 50px 0px 50px;
  width: 50%;
  flex-direction: column;
}
div.TareasA div.container div.panel section.tarea_desc2 section {
  display: none;
  margin-bottom: 20px;
  align-self: flex-end;
}
div.TareasA div.container div.panel section.tarea_desc2 section svg {
  color: black;
  font-size: 20px;
  cursor: pointer;
}
div.TareasA div.container div.panel section.tarea_desc2 div {
  /*Bloque*/
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.192);
}
div.TareasA div.container div.panel section.tarea_desc2 div p:nth-child(1) {
  /*Cabecera: Descripción de tarea*/
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
}
div.TareasA div.container div.panel section.tarea_desc2 div p:nth-child(2) {
  /*Contenido: Descripción*/
  font-size: 17px;
  text-align: justify;
}
div.TareasA div.container div.panel section.tarea_desc2 input {
  /*Boton de cancelar*/
  display: flex;
  align-self: center;
  margin-top: 30px;
}
div.TareasA div.container div.panel section.tarea_desc2 input {
  /*Diseño Botones de Finalizar y Enviar*/
  width: fit-content;
  height: fit-content;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background: #f1b74d;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  padding: 8px 20px 8px 20px;
}

@media screen and (max-width: 1007px) {
  section.tarea_desc {
    width: 100% !important;
  }
  section.tarea_desc > section {
    display: unset !important;
    margin-bottom: 20px;
    align-self: flex-end;
  }
  section.tarea_desc > section svg {
    color: black;
    font-size: 20px;
    cursor: pointer;
  }
  section.tarea_desc2 {
    width: 100% !important;
  }
  section.tarea_desc2 > section {
    display: unset !important;
    margin-bottom: 20px;
    align-self: flex-end;
  }
  section.tarea_desc2 > section svg {
    color: black;
    font-size: 20px;
    cursor: pointer;
  }
}

/*# sourceMappingURL=tarea_a.css.map */
