div.TerminosCondiciones {
    margin-top: 100px;
    display: flex ;
    flex-direction: column;
}
div.TerminosCondiciones *{
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
}
div.TerminosCondiciones > section {
    display: grid;
    grid-template-areas: 
    "sec1 sec2";
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
}

div.TerminosCondiciones > section div{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

div.TerminosCondiciones .div1{
    grid-area: sec1;
    margin-left: 10%;
    margin-right: 10%;
}
 
div.TerminosCondiciones .div1 h1{
    align-self: center;
}

div.TerminosCondiciones .div2{
    grid-area: sec2;
    margin-top: 20%;
}